/* mobile first */

body {
  width: 100%;
  font-family: 'Titillium Web';
  margin: 0;
}

section {
  width: 100%;
}

h1, h2, h3, label {
  font-family: 'Courgette';
}

h1 {
  color: #FFFFFF;
  padding: 30px 0 0 50px; 
  font-size: 2rem;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 40px 20px;
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
}

h2, h3 {
  color: #7BB03B;
}

img {
  width: 100%;
}

label {
  color: #000000;
  font-size: 1.3rem;
  padding: 10px 20px;
}

input {
  border: 3px solid #FEC84E;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="checkbox"] {
  outline: 2px solid #7BB03B;
}

.top_banner {
  height: 20px;
  position: fixed;
}

.colored_emphasis,
.fire_emphasis,
.timber_emphasis,
.earth_emphasis,
.water_emphasis,
.metal_emphasis,
.light_emphasis,
.dark_emphasis,
.button_text {
  font-weight: bold;
}

.colored_emphasis,
.earth_emphasis {
  color: #FEC84E;
}

.fire_emphasis {
  color: #F49845;
}

.timber_emphasis,
.button_text {
  color: #7BB03B;
}

.water_emphasis {
  color: #55B1F3;
}

.metal_emphasis {
  color: #C4C4C4;
}

.light_emphasis {
  color: #FFFFFF;
}

.dark_emphasis {
  color: #000000;
}

.dark_background {
  background-color: #6D4227;
  opacity: 85%;
  color: #FFFFFF;
}

.light_background {
  background-color: #FEC84E;
  opacity: 85%;
}

.top_spacing {
  padding-top: 10%;
}

.bottom_spacing {
  padding-bottom: 10%;
}

.homepage_background_picture,
.basic_theories_background_picture,
.connection_background_picture,
.acupuncture_background_picture,
.therapeutic_techniques_background_picture,
.treatments_background_picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
}

.homepage_background_picture {
  background-image: url('/images/japanese_garden_fountain.jpg');
}

.basic_theories_background_picture {
  background-image: url('/images/sunny_bamboo_grove.jpg');
}

.connection_background_picture {
  background-image: url('/images/diary.jpg');
}

.acupuncture_background_picture {
  background-image: url('/images/chinese_medicine.jpg');
}

.therapeutic_techniques_background_picture {
  background-image: url('/images/chinese_medicine_cupboard.jpg');
}

.treatments_background_picture {
  background-image: url('/images/tea.jpg');
}

.basic_theories_containers,
.connection_container,
.registration_container,
.yin_yang_containers,
.five_elements_main_container,
.fire_element,
.timber_earth_elements,
.water_metal_elements,
.therapies_text_containers,
.treatments_containers {
  margin: 0 10%;
}

.form_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
} 

.checkbox {
  width: 2%;
}

.checkbox_container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.checkbox_container_text {
  font-family: 'Titillium Web';
  padding: 0 10px;
  font-size: 1.1rem;
}

.button_text {
  border: 3px solid #7bb03b;
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 1rem;
}

.therapies_colored_containers,
.login_label_input_container,
.label_input_container,
.connection_registration_container,
.five_elements_containers,
.yin_yang_containers,
.treatments_containers {
  display: flex;
  flex-direction: column;
}

.therapies_colorless_containers,
.acupuncture_treatment {
  display: flex;
  flex-direction: column-reverse;
}

.acupuncture_treatment:last-child {
  flex-direction: column;
}

.five_elements_containers,
.yin_yang_containers {
  align-items: center;
}

.label_input_container {  
  width: 100%;
  margin-top: 8%;
}

.forgotten_password {
  margin: 3% 0 4% 3%;
}

.align {
  text-align: center;
}

.message {
  height: 200px;
}

.five_elements_pictures {
  width: 150px;
  padding: 5% 0 10% 0;
}

.yin_yang_pictures {
  width: 200px;
}

.five_elements_picture {
  width: 80%;
  margin: 8% 10%;
}

.yin_yang_pictures { 
  padding: 8% 0;
}

.basic_theories_containers ul,
.treatments_containers ul {
  padding: 0 8%;
}

.basic_theories_containers li,
.treatments_containers li {
  padding: 8% 0;
  list-style-position: inside;
}

.treatment_duration {
  font-weight: 600;
}

.meridian_picture,
.abdominal_acupuncture_picture {
  width: 90%;
  padding: 0 5%;
}


@media screen and (min-width: 576px) {


  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture,
  .acupuncture_background_picture,
  .therapeutic_techniques_background_picture,
  .treatments_background_picture {
    height: 350px;
  }
  
  .login_label_input_container,
  .label_input_container,
  .checkbox_container {
    width: 70%;
  }
  
  .connection_container {
    margin-left: 20%;
  }
  
  .buttons_container {
    padding: 20px 0;
  }
  
  .connection_registration_container {
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 0;
  }  

  .basic_theories_containers li,
  .treatments_containers li {
    padding: 5% 0;
  }

  .top_spacing {
    padding-top: 5%;
  }

  .bottom_spacing {
    padding-bottom: 5%;
  }

  .suction_cups_picture,
  .acupuncture_picture,
  .ear_acupuncture_picture,
  .phytotherapy_picture,
  .teapot_picture {
    width: 60%;
    margin: 5% 20% 0 20%;
  }

}


@media screen and (min-width: 768px) {

  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height:420px;
    background-size: cover;
  }

  
  .acupuncture_background_picture,
  .therapeutic_techniques_background_picture,
  .treatments_background_picture {
    background-size: contain;
  }
 
  .login_label_input_container,
  .label_input_container,
  .checkbox_container {
    width: 60%;
  }
  
  .connection_container {
    margin-left: 25%;
  }
  
  .connection_registration_container {
    margin: 8% 0;
    justify-content:space-evenly;
  }
  
  .yin_yang_containers {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5%;
  }

  .yin_yang_containers p {
    width: 30%;
  }

  .basic_theories_containers li,
  .treatments_containers li {
    padding: 3% 0;
  }

  .yin_yang_pictures {
    padding: 0;
  }

  .five_elements_pictures {
    width: 150px;
    padding: 5% 0;
  }

  .therapies_colored_containers {
    flex-direction: row;
    justify-content: left;
  }

  .therapies_colored_containers .therapies_text_containers {
    width: 50%;
    margin: 0 3%;
    padding: 0;
  } 

  .therapies_colored_containers .therapies_text_containers .treatment_duration { 
    margin: 0;
  } 

  .acupuncture_picture,
  .ear_acupuncture_picture,
  .phytotherapy_picture,
  .suction_cups_picture,
  .teapot_picture {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .man_stretching_picture,
  .woman_opened_eyes_picture {
    display: none;
  }

  .man_stretching_background_picture {
    background-image: url('/images/man_stretching.jpg');
    background-size: cover;
    height: 1277px;
    margin-bottom: 5%;
    background-position-y: center;
    background-position-x: center;
  }

  .woman_opened_eyes_background_picture {
    background-image: url('/images/woman_in_bed.jpg');
    background-size: cover;
    width: 100%;
    height: 892px;
    margin-bottom: 5%;
    background-position-y: center;
    background-position-x: center;
  }

  .woman_opened_eyes_text_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }


}


@media screen and (min-width: 992px) {

  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture,
  .acupuncture_background_picture,
  .therapeutic_techniques_background_picture,
  .treatments_background_picture {
    height: 500px;
  }
  
  .label_input_container,
  .checkbox_container {
    width: 35%;
  }
  
  .connection_container {
    margin-left: 30%;
  }
  
  .message_input {
    width: 100%;
  }

  .five_elements_picture,
  .stones_picture,
  .lotus_picture,
  .woman_breathing_picture,
  .hand_massage_picture,
  .woman_closed_eyes_picture,
  .woman_meditating_picture {
    display: none;
  }
  
  .stones_background_picture {
    background-image: url('/images/stones.png');
  }

  .lotus_background_picture {
    background-image: url('/images/lotus.jpg'); 
    background-position-y: center;
  }

  .woman_breathing_background_picture {
    background-image: url('/images/woman_breathing.jpg');
    background-position-y: center;
  }

  .hand_massage_background_picture {
    background-image: url('/images/hand_massage.png');
    background-position-y: center;
  }

  .woman_closed_eyes_background_picture {
    background-image: url('/images/woman_closed_eyes.jpg');
  }

  .woman_meditating_background_picture {
    background-image: url('/images/woman_meditating.jpg');
  }

  .stones_background_picture,
  .hand_massage_background_picture,
  .woman_closed_eyes_background_picture,
  .woman_meditating_background_picture,
  .lotus_text_containers:last-child h3,
  .smoking_text_containers h3,
  .lotus_text_containers li {
    color: #FFFFFF;
  }

  .stones_background_picture,
  .lotus_background_picture,
  .woman_breathing_background_picture,
  .hand_massage_background_picture,
  .woman_closed_eyes_background_picture,
  .woman_meditating_background_picture {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
  }


  .acupuncture_main_container {
    margin-bottom: 5%;
  }

  .five_elements_background_picture {
    background-image: url('/images/five_elements.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    margin: 8% 0;
  }

  .fire_element,
  .timber_earth_elements,
  .water_metal_elements,
  .lotus_text_container,
  .smoking_text_container,
  .five_elements_main_container  {
    display: flex;
    flex-direction: row;
  }

  .five_elements_text {
    width: 25%;
  }

  .lotus_text_containers ul,
  .lotus_text_containers li,
  .five_elements_text.bottom_spacing {
    padding: 0;
  }

  .fire_element {
    margin-left: 20%;
    width: 80%;
  }

  .timber_earth_elements,
  .water_metal_elements {
    justify-content: space-between;
  }

  .timber_earth_elements {
    margin: 0 2%;
    padding-top: 9%;
  }

  .water_metal_elements {
    margin: 0 8%;
    padding-top: 1%;
  }

  .five_elements_containers {
    width: 30%;
  }

  .therapies_colorless_containers .therapies_text_containers,
  .five_elements_main_container {
    margin: 0 5%;
  }
   

  .five_elements_main_container:first-child {
    justify-content: space-between;
  }

  .five_elements_main_container:last-child {
    justify-content: space-around;
  }

  .five_elements_main_container:first-child > .five_elements_containers:first-child,
  .five_elements_main_container:first-child > .five_elements_containers:last-child {
    padding-top: 25%;
  }

  .five_elements_background_picture {
    height: 500px;
  }

  .therapies_colored_containers .therapies_text_containers,
  .therapies_colorless_containers .therapies_text_containers {
    width: 60%;
  } 


  .therapies_colorless_containers {
    flex-direction: row;
    align-items: center;
  }

  .therapies_colorless_containers img {
    width: 90%;
  }

  .lotus_text_containers ul,
  .lotus_text_containers h3,
  .smoking_text_containers h3,
  .hand_massage_text_containers h3 {
    margin: 0;
  }

  .lotus_text_container,
  .smoking_text_container {
    justify-content: space-evenly;
  }

  .smoking_text_containers:last-child {
    width: 50%;
    margin: 3% 0 10% 22%;
  }

  .lotus_text_containers {
    width: 47%;
  }

  .lotus_text_container:last-child{
    align-items: flex-end;
  }

  .hand_massage_text_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 47%;
    margin: 0;
  }

  .hand_massage_text_containers p {
    margin: 10%;
  }

  .headache_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .headache_text_containers {
    margin: 10% 6%;
    width: 30%;
  }

  .anxiety_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .anxiety_text_containers {
    width: 40%;
    margin: 10% 5%;
  }

  .anxiety_text_main_container h3 {
    color: #FFFFFF;
    padding: 0;
  }

}


@media screen and (min-width: 1200px) {

  body {
    font-size: 1.1rem;
  }

  h3 {
    margin: 3% 5% 3% 8%;
  }

  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture,
  .therapeutic_techniques_background_picture,
  .treatments_background_picture {
    height: 580px;
    background-size: cover;
  }

  .acupuncture_background_picture {
    height: 580px;
    background-size: contain;
  }
  
  .yin_yang_containers {
    margin: 0;
  }

  .basic_theories_containers,
  .treatments_containers {
    margin: 0 6%;
  }

  .basic_theories_containers ul,
  .treatments_containers ul {
    padding: 0 15% 0 5%;
  }

  .timber_earth_elements,
  .water_metal_elements {
    padding-top: 5%;
  }

  .five_elements_main_container:first-child > .five_elements_containers:first-child,
  .five_elements_main_container:first-child > .five_elements_containers:last-child {
    padding-top: 20%;
  }

  .treatment_duration {
    padding-top: 2%;
  }

  .therapies_colorless_containers
  .therapies_text_containers {
    width: 50%;
  } 

  .therapies_colored_containers .therapies_text_containers {
    margin: 0 10%;
  }

  .chinese_herbal_medicine_background_picture {
    background-image: url('/images/chinese_herbal_medicine.jpg');
  }

  .chinese_herbal_medicine_background_picture {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  } 
  
  .chinese_herbal_medicine_picture {
    display: none;
  }

  .immune_system_text_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
  }

  .immune_system_text_containers {
    width: 40%;
    margin: 0;
  }

  .immune_system_text_containers h3 {
    padding: 0;
    margin: 0;
  }

  .immune_system_text_containers p {
    margin: 8% 5% 15% 10%;
  }

  .acupuncture_main_container h3 {
    padding: 0;
  }

  .acupuncture_treatment,
  .acupuncture_treatment:last-child {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .acupuncture_text_containers {
    padding: 2% 0;
    margin: 0 5%;
    width: 95%;
  }

  .headache_text_containers {
    margin: 15% 6%;
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture,
  .acupuncture_background_picture,
  .therapeutic_techniques_background_picture,
  .treatments_background_picture {
    height: 800px;
    background-size: cover;
  }

  .basic_theories_containers,
  .treatments_containers {
    margin: 0 7%;
  }
  
  .checkbox {
    width: 1%;
  }
  
  .connection_registration_container {
    margin: 6% 0;
  }

  .five_elements_background_picture {
    height: 600px;
  }

  .water_metal_elements {
    padding-top: 8%;
  }

  .fire_element {
    margin-left: 25%;
    width: 75%;
  }
  
  .timber_earth_elements {
    margin: 0 3%;
  }

  .water_metal_elements {
    margin: 0 10%;
  }

  .stones_background_picture,
  .lotus_background_picture,
  .woman_breathing_background_picture,
  .hand_massage_background_picture,
  .woman_closed_eyes_background_picture,
  .man_stretching_background_picture,
  .woman_opened_eyes_background_picture,
  .chinese_herbal_medicine_background_picture,
  .woman_meditating_background_picture {
    background-size: cover;
  }

  .therapies_colorless_containers img {
    width: 90%;

  }

  .therapies_colorless_containers {
    justify-content: space-evenly;
  }

  .top_spacing {
    padding-top: 3%;
  }
  
  .bottom_spacing {
    padding-bottom: 3%;
  }

  .lumbalgia_insomnia_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

 
  .man_stretching_background_picture,
  .woman_opened_eyes_background_picture {
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

} 