/* mobile first */

body {
  width: 100%;
  font-family: 'Titillium Web';
  margin-left: 0;
}

section {
  width: 100%;
}

h1, h2, h3, label {
  font-family: 'Courgette';
}

h1 {
  color: #FFFFFF;
  padding: 30px 0 0 50px; 
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin: 40px 20px;
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
  margin: 15% 10% 10% 10%;
}

h2, h3 {
  color: #7BB03B;
}

img {
  width: 100%;
}

label {
  color: #000000;
  font-size: 1.3rem;
  padding: 10px 20px;
}

input {
  border: 3px solid #FEC84E;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="checkbox"] {
  outline: 2px solid #7BB03B;
}

.top_banner {
  height: 20px;
  position: fixed;
}

.colored_emphasis,
.fire_emphasis,
.timber_emphasis,
.earth_emphasis,
.water_emphasis,
.metal_emphasis,
.emphasis,
.button_text {
  font-weight: bold;
}

.colored_emphasis,
.earth_emphasis {
  color: #FEC84E;
}

.fire_emphasis {
  color: #F49845;
}

.timber_emphasis,
.button_text {
  color: #7BB03B;
}

.water_emphasis {
  color: #55B1F3;
}

.metal_emphasis {
  color: #C4C4C4;
}

.dark_background {
  background-color: #6D4227;
  opacity: 85%;
  padding-top: 10%;
  color: #FFFFFF;
}

.homepage_background_picture,
.basic_theories_background_picture,
.connection_background_picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
}

.homepage_background_picture {
  background-image: url('/images/japanese_garden_fountain.jpg');
}

.basic_theories_background_picture {
  background-image: url('/images/sunny_bamboo_grove.jpg');
}

.connection_background_picture {
  background-image: url('/images/diary.jpg');
}

.basic_theories_containers,
.connection_container,
.registration_container {
  margin: 0 10%;
}

.form_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
} 

.checkbox {
  width: 2%;
}

.checkbox_container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.checkbox_container_text {
  font-family: 'Titillium Web';
  padding: 0 10px;
  font-size: 1.1rem;
}

.button_text {
  border: 3px solid #7bb03b;
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 1rem;
}

.login_label_input_container,
.label_input_container,
.connection_registration_container,
.five_elements_containers,
.yin_yang_containers {
  display: flex;
  flex-direction: column;
}

.five_elements_containers,
.yin_yang_containers {
  align-items: center;
  padding-bottom: 10%;
}

.label_input_container {  
  width: 100%;
  margin-top: 8%;
}

.forgotten_password {
  margin: 3% 0 4% 3%;
}

.align {
  text-align: center;
}

.message {
  height: 200px;
}

.five_elements_pictures {
  width: 150px;
  padding: 5% 0 10% 0;
}

.yin_yang_pictures {
  width: 200px;
  padding: 8% 0;
}

@media screen and (min-width: 576px) {
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height: 350px;
  }
  
  .login_label_input_container,
  .label_input_container,
  .checkbox_container {
    width: 70%;
  }
  
  .connection_container {
    margin-left: 20%;
  }
  
  .buttons_container {
    padding: 20px 0;
  }
  
  .connection_registration_container {
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 0;
  }
  
  
}


@media screen and (min-width: 768px) {
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height:420px;
  }
  
  .login_label_input_container,
  .label_input_container,
  .checkbox_container {
    width: 60%;
  }
  
  .connection_container {
    margin-left: 25%;
  }
  
  .connection_registration_container {
    margin: 8% 0;
    justify-content:space-evenly;
  }
  
  
}


@media screen and (min-width: 992px) {
  
  h1 {
    font-size: 3rem;
    padding: 50px 0 0 70px; 
  }
  
  h2{
    font-size: 2.5rem;
  }
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height: 500px;
  }
  
  .label_input_container,
  .checkbox_container {
    width: 35%;
  }
  
  .connection_container {
    margin-left: 30%;
  }
  
  .message_input {
    width: 100%;
  }
  
}


@media screen and (min-width: 1200px) {
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height: 580px;
    background-size: cover;
  }
  
}


@media screen and (min-width: 1400px) {
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .homepage_background_picture,
  .basic_theories_background_picture,
  .connection_background_picture {
    height: 800px;
    background-size: cover;
  }
  
  .checkbox {
    width: 1%;
  }
  
  .connection_registration_container {
    margin: 6% 0;
  }
  
} 